librosa==0.10.0.post2
noisereduce==2.0.1
soundfile==0.12.1
gradio==3.34.0
transformers==4.30.0
pyaudio==0.2.13
torch==2.0.1+cu117
torchvision==0.15.2+cu117
torchaudio==2.0.2+cu117
--extra-index-url http://dist.repoze.org/zope2/2.10/simple